# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*

# IDE
.vscode/
.idea/

# Vim
*.swp
*.swo

# OS
.DS_Store

# Logs
*.log

# Python
__pycache__/
*.pyc

# Node
node_modules/

# Misc
*.bak
